In [1]:
from bs4 import BeautifulSoup
import pandas as pd
from splinter import Browser
import time 
import re
import lxml

In [2]:
url1 = "https://heavens-above.com/SatInfo.aspx?satid="
url2 = "&lat=0&lng=0&loc=Unspecified&alt=0&tz=UCT"

satid_latest = 44914
satid_start = 44910

url = url1 + str(satid_latest) + url2
url

'https://heavens-above.com/SatInfo.aspx?satid=44914&lat=0&lng=0&loc=Unspecified&alt=0&tz=UCT'

In [3]:
def init_browser():
    # @NOTE: Replace the path with your actual path to the chromedriver
    executable_path = {"executable_path": "C:\chromedriver\chromedriver.exe"}
    return Browser("chrome", **executable_path, headless=False)

browser = init_browser()
launches = {}

In [4]:
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, "html.parser")
#mars[“Title”] = soup.find("div", class_="content_title").get_text()
#mars[“Description”] = soup.find("div", class_="rollover_description_inner").get_text()
#mars

In [5]:
soup.find("span", class_="pagehead").get_text()

'STARLINK-1073 - Satellite Information'

In [6]:
soup.find("span", class_= "pagehead").get_text()

'STARLINK-1073 - Satellite Information'

In [7]:
soup.find("span", id="ctl00_cph1_lblLaunchDate").get_text()

'07 January 2020 02:19'

In [8]:
launches = pd.DataFrame(columns = {"Satellite Name", "Launch Date", "Launch Site"})
launches

Empty DataFrame
Columns: [Satellite Name, Launch Date]
Index: []

In [46]:
for x in range(44900, 44914):
    try:
        url = url1 + str(x) + url2
        browser.visit(url)
        html = browser.html
        time.sleep(3)
        soup = BeautifulSoup(html, "html.parser")
        header = soup.find("span", class_="pagehead").get_text()
        date = soup.find("span", id="ctl00_cph1_lblLaunchDate").get_text()
        table = soup.find_all('table')[6]
        site = table.find_all('td')[3].get_text()
        current_launch = pd.DataFrame({"Satellite Name": header, "Launch Date": date, "Launch Site": site}, index=[x])
        launches = launches.append(current_launch)
    except:
        print("Page Not Found")

Page Not Found
Page Not Found

In [48]:
#current_launch = pd.DataFrame({"Satellite Name": header, "Launch Date": date}, index=[0])
#launches = launches.append(current_launch)
#launches = launches.dropna()
launches

,Satellite Name,Launch Date,Launch Site
44912,COSMOS 2491 DEB - Satellite Information,25 December 2013 00:31,"Plesetsk, Russia"
44913,COSMOS 2491 DEB - Satellite Information,25 December 2013 00:31,"Plesetsk, Russia"
44810,FLOCK 4P 12 - Satellite Information,27 November 2019 03:58,"Satish Dhawan Space Centre (SHAR), India"
44811,FLOCK 4P 4 - Satellite Information,27 November 2019 03:58,"Satish Dhawan Space Centre (SHAR), India"
44812,FLOCK 4P 3 - Satellite Information,27 November 2019 03:58,"Satish Dhawan Space Centre (SHAR), India"
...,...,...,...
44907,GONETS M 16 (M28) - Satellite Information,26 December 2019 23:11,"Plesetsk, Russia"
44908,OBJECT D - Satellite Information,26 December 2019 23:11,"Plesetsk, Russia"
44909,RS-44 - Satellite Information,26 December 2019 23:11,Amateur radio
44912,COSMOS 2491 DEB - Satellite Information,25 December 2013 00:31,"Plesetsk, Russia"
44913,COSMOS 2491 DEB - Satellite Information,25 December 2013 00:31,"Plesetsk, Russia"

In [49]:
launches_output_file = "launches.csv"
launches.to_csv(launches_output_file)

In [70]:
launches_read = pd.read_csv(launches_output_file)
launches_read

,Unnamed: 0,Unnamed: 0.1,Satellite Name,Launch Date,Launch Site
0,0,44912,COSMOS 2491 DEB,25 December 2013 00:31,"Plesetsk, Russia"
1,1,44913,COSMOS 2491 DEB,25 December 2013 00:31,"Plesetsk, Russia"
2,2,44810,FLOCK 4P 12,27 November 2019 03:58,"Satish Dhawan Space Centre (SHAR), India"
3,3,44811,FLOCK 4P 4,27 November 2019 03:58,"Satish Dhawan Space Centre (SHAR), India"
4,4,44812,FLOCK 4P 3,27 November 2019 03:58,"Satish Dhawan Space Centre (SHAR), India"
...,...,...,...,...,...
110,110,44907,GONETS M 16 (M28),26 December 2019 23:11,"Plesetsk, Russia"
111,111,44908,OBJECT D,26 December 2019 23:11,"Plesetsk, Russia"
112,112,44909,RS-44,26 December 2019 23:11,Amateur radio
113,113,44912,COSMOS 2491 DEB,25 December 2013 00:31,"Plesetsk, Russia"
114,114,44913,COSMOS 2491 DEB,25 December 2013 00:31,"Plesetsk, Russia"

In [71]:
launches_read["Launch Site"].unique()

array(['Plesetsk, Russia', 'Satish Dhawan Space Centre (SHAR), India',
       'Taiyuan Space Launch Center, China',
       'Cape Canaveral Air Force Station, United States', 'Electron',
       'Baikonur Cosmodrome, Kazakhstan',
       'Xichang Satellite Launch Center, China',
       'Centre Spatial Guyanais , French Guiana',
       'Jiuquan Satellite Launch Center, China', 'Amateur radio '],
      dtype=object)

In [72]:
launches_read["Launch Site"].dropna(inplace=True)
launches_read

,Unnamed: 0,Unnamed: 0.1,Satellite Name,Launch Date,Launch Site
0,0,44912,COSMOS 2491 DEB,25 December 2013 00:31,"Plesetsk, Russia"
1,1,44913,COSMOS 2491 DEB,25 December 2013 00:31,"Plesetsk, Russia"
2,2,44810,FLOCK 4P 12,27 November 2019 03:58,"Satish Dhawan Space Centre (SHAR), India"
3,3,44811,FLOCK 4P 4,27 November 2019 03:58,"Satish Dhawan Space Centre (SHAR), India"
4,4,44812,FLOCK 4P 3,27 November 2019 03:58,"Satish Dhawan Space Centre (SHAR), India"
...,...,...,...,...,...
110,110,44907,GONETS M 16 (M28),26 December 2019 23:11,"Plesetsk, Russia"
111,111,44908,OBJECT D,26 December 2019 23:11,"Plesetsk, Russia"
112,112,44909,RS-44,26 December 2019 23:11,Amateur radio
113,113,44912,COSMOS 2491 DEB,25 December 2013 00:31,"Plesetsk, Russia"
114,114,44913,COSMOS 2491 DEB,25 December 2013 00:31,"Plesetsk, Russia"

In [56]:
for site in launches_read:
    print(site)
    #if site["Launch Site"] == "Plesetsk, Russia":
    #    print("62.927704, 40.575077")

Unnamed: 0
Satellite Name
Launch Date
Launch Site

TypeError: 'NoneType' object is not callable