In [1]:
import pandas as pd
import numpy as np
import requests
import time
import datetime
from sqlalchemy import create_engine

In [2]:
# Import API keys
from config import open_weather_key

In [22]:
launches_output_file = "launches.csv"
launches_read = pd.read_csv(launches_output_file)
launches_read

,Unnamed: 0,Satellite Name,Launch Date,Launch Site,lat,lon
0,0,COSMOS 2491 DEB,25 December 2013 00:31,"Plesetsk, Russia",62.927545,40.575023
1,1,COSMOS 2491 DEB,25 December 2013 00:31,"Plesetsk, Russia",62.927545,40.575023
2,2,COSMOS 2543,25 November 2019 17:52,"Plesetsk, Russia",62.927545,40.575023
3,3,COSMOS 2543 (GLONASS,11 December 2019 08:54,"Plesetsk, Russia",62.927545,40.575023
4,4,FREGAT R/B,11 December 2019 08:54,"Plesetsk, Russia",62.927545,40.575023
...,...,...,...,...,...,...
120,120,SJ-7 DEB,05 July 2005 22:40,"Jiuquan Satellite Launch Center, China",40.984523,100.191185
121,121,SJ-7 DEB,05 July 2005 22:40,"Jiuquan Satellite Launch Center, China",40.984523,100.191185
122,122,SJ-7 DEB,05 July 2005 22:40,"Jiuquan Satellite Launch Center, China",40.984523,100.191185
123,123,RS-44,26 December 2019 23:11,Amateur radio,NaN,NaN
124,124,RS-44,26 December 2019 23:11,Amateur radio,NaN,NaN

In [4]:
launch_time = time.mktime(datetime.datetime.strptime("11 December 2019 08:54", "%d %B %Y %H:%M").timetuple())
launch_time

1576079640.0

In [47]:
launches_weather = launches_read.copy()
launches_weather = launches_weather.rename({"Unnamed: 0": "index"})
launches_weather

,Unnamed: 0,Satellite Name,Launch Date,Launch Site,lat,lon
0,0,COSMOS 2491 DEB,25 December 2013 00:31,"Plesetsk, Russia",62.927545,40.575023
1,1,COSMOS 2491 DEB,25 December 2013 00:31,"Plesetsk, Russia",62.927545,40.575023
2,2,COSMOS 2543,25 November 2019 17:52,"Plesetsk, Russia",62.927545,40.575023
3,3,COSMOS 2543 (GLONASS,11 December 2019 08:54,"Plesetsk, Russia",62.927545,40.575023
4,4,FREGAT R/B,11 December 2019 08:54,"Plesetsk, Russia",62.927545,40.575023
...,...,...,...,...,...,...
120,120,SJ-7 DEB,05 July 2005 22:40,"Jiuquan Satellite Launch Center, China",40.984523,100.191185
121,121,SJ-7 DEB,05 July 2005 22:40,"Jiuquan Satellite Launch Center, China",40.984523,100.191185
122,122,SJ-7 DEB,05 July 2005 22:40,"Jiuquan Satellite Launch Center, China",40.984523,100.191185
123,123,RS-44,26 December 2019 23:11,Amateur radio,NaN,NaN
124,124,RS-44,26 December 2019 23:11,Amateur radio,NaN,NaN

In [14]:
#for index, launch in launches_read.iterrows():
    try: 
        temp = 0
        weather = ""
        lat = launch["lat"]
        lon = launch["lon"]
        sat = launch["Satellite Name"]
        url = f"http://api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}&appid={open_weather_key}"
        weather_response = requests.get(url).json()
        time.sleep(3)
        weather = weather_response["weather"][0]['description']
        launches_weather["weather"] = weather
        temp = weather_response["main"]["feels_like"] 
        temp = round(((temp - 273.15) * (9 / 5)) + 32)
        launches_weather["temperature"] = temp
    except:
        print("Could not find weather")

COSMOS 2491 DEB,few clouds,39
COSMOS 2491 DEB,few clouds,39
COSMOS 2543,few clouds,39
COSMOS 2543 (GLONASS,few clouds,39
FREGAT R/B,few clouds,39
GONETS M 14 (M26),few clouds,39
GONETS M 15 (M27),few clouds,39
GONETS M 16 (M28),few clouds,39
OBJECT D,few clouds,39
COSMOS 2491 DEB,few clouds,39
COSMOS 2491 DEB,few clouds,39
GONETS M 14 (M26),few clouds,39
GONETS M 15 (M27),few clouds,39
GONETS M 16 (M28),few clouds,39
OBJECT D,few clouds,39
COSMOS 2491 DEB,few clouds,39
COSMOS 2491 DEB,few clouds,39
FLOCK 4P 12,broken clouds,95
FLOCK 4P 4,broken clouds,95
FLOCK 4P 3,broken clouds,95
FLOCK 4P 1,broken clouds,95
FLOCK 4P 8,broken clouds,95
FLOCK 4P 7,broken clouds,95
FLOCK 4P 6,broken clouds,95
FLOCK 4P 5,broken clouds,95
TYVAK-0092,broken clouds,95
Tyvak-0129,broken clouds,95
OBJECT C,broken clouds,95
LEMUR 2 JPGSQUARED,broken clouds,95
QPS-SAR-1 IZANAGI,broken clouds,95
RISAT-2BR1,broken clouds,95
OBJECT G,broken clouds,95
IHOPSAT-TD,broken clouds,95
LEMUR 2 HIMOMANDDAD,broken clouds,95
LEMUR 2 PAPPY,broken clouds,95
PSLV R/B,broken clouds,95
LEMUR 2 THEODOSIA,broken clouds,95
GAOFEN 12,few clouds,65
CZ-4C R/B,few clouds,65
JILIN-01 GAOFEN 2B,few clouds,65
KZ-1A R/B,few clouds,65
OBJECT A,few clouds,65
OBJECT B,few clouds,65
OBJECT C,few clouds,65
OBJECT D,few clouds,65
OBJECT E,few clouds,65
OBJECT F,few clouds,65
KZ-1A R/B,few clouds,65
OBJECT A,few clouds,65
OBJECT B,few clouds,65
OBJECT C,few clouds,65
OBJECT D,few clouds,65
CBERS 4A,few clouds,65
OBJECT F,few clouds,65
OBJECT G,few clouds,65
OBJECT H,few clouds,65
OBJECT J,few clouds,65
CZ-4B R/B,few clouds,65
OBJECT L,few clouds,65
OBJECT M,few clouds,65
OBJECT N,few clouds,65
DRAGON CRS-19,clear sky,73
DRAGON CRS-19 DEB,clear sky,73
DRAGON CRS-19 DEB,clear sky,73
ATLAS 5 CENTAUR DEB,clear sky,73
ATLAS 5 CENTAUR DEB,clear sky,73
ATLAS 5 CENTAUR DEB,clear sky,73
ATLAS 5 CENTAUR DEB,clear sky,73
ATLAS 5 CENTAUR R/B DEB,clear sky,73
JCSAT 18,clear sky,73
FALCON 9 R/B,clear sky,73
ATLAS 5 CENTAUR DEB,clear sky,73
ATLAS 5 CENTAUR DEB,clear sky,73
ATLAS 5 CENTAUR DEB,clear sky,73
ATLAS 5 CENTAUR DEB,clear sky,73
ATLAS 5 CENTAUR DEB,clear sky,73
ATLAS 5 CENTAUR DEB,clear sky,73
ATLAS 5 CENTAUR DEB,clear sky,73
CST-100 STARLINER,clear sky,73
CST-100 STARLINER,clear sky,73
ALE-2,light rain,55
ELECTRON KICK STAGE R/B,light rain,55
ELECTRON R/B,light rain,55
NOOR 1A,light rain,55
NOOR 1B,light rain,55
FOSSASAT-1,light rain,55
TRSI,light rain,55
ATL-1,light rain,55
SMOG-P,light rain,55
PROGRESS MS-13,clear sky,66
PROGRESS MS-13,clear sky,66
SL-4 R/B,clear sky,66
SL-4 R/B,clear sky,66
SL-12 DEB,clear sky,66
SL-12 DEB,clear sky,66
SL-12 DEB,clear sky,66
SL-12 DEB,clear sky,66
SL-12 DEB,clear sky,66
SL-12 DEB,clear sky,66
SL-12 DEB,clear sky,66
SL-12 DEB,clear sky,66
ELEKTRO-L 3,clear sky,66
ELEKTRO-L 3,clear sky,66
BLOCK DM-SL R/B,clear sky,66
BLOCK DM-SL R/B,clear sky,66
ELEKTRO-L 3,clear sky,66
ELEKTRO-L 3,clear sky,66
BLOCK DM-SL R/B,clear sky,66
BLOCK DM-SL R/B,clear sky,66
BEIDOU 3M19,clear sky,83
BEIDOU 3M20,clear sky,83
YZ-1 R/B,clear sky,83
CZ-3B R/B,clear sky,83
CSG-1,overcast clouds,81
CHEOPS,overcast clouds,81
ASAP -S,overcast clouds,81
ANGELS,overcast clouds,81
EYESAT-NANO,overcast clouds,81
OPS-SAT,overcast clouds,81
SJ-7 DEB,scattered clouds,68
SJ-7 DEB,scattered clouds,68
SJ-7 DEB,scattered clouds,68
SJ-7 DEB,scattered clouds,68
Could not find weather
Could not find weather

In [44]:
#uniques = launches_weather["temperature"].unique()
#weather_json
weather_df = pd.read_csv("weather.csv")
weather_df = weather_df[["weather", "temperature"]]
weather_df

              weather  temperature
0          few clouds         39.0
1          few clouds         39.0
2          few clouds         39.0
3          few clouds         39.0
4          few clouds         39.0
..                ...          ...
120  scattered clouds         68.0
121  scattered clouds         68.0
122  scattered clouds         68.0
123               NaN          NaN
124               NaN          NaN

[125 rows x 2 columns]

In [49]:
launches_combined = launches_weather.join(weather_df ,how='left', lsuffix='_left', rsuffix='_right')
launches_combined

,Unnamed: 0,Satellite Name,Launch Date,Launch Site,lat,lon,weather,temperature
0,0,COSMOS 2491 DEB,25 December 2013 00:31,"Plesetsk, Russia",62.927545,40.575023,few clouds,39.0
1,1,COSMOS 2491 DEB,25 December 2013 00:31,"Plesetsk, Russia",62.927545,40.575023,few clouds,39.0
2,2,COSMOS 2543,25 November 2019 17:52,"Plesetsk, Russia",62.927545,40.575023,few clouds,39.0
3,3,COSMOS 2543 (GLONASS,11 December 2019 08:54,"Plesetsk, Russia",62.927545,40.575023,few clouds,39.0
4,4,FREGAT R/B,11 December 2019 08:54,"Plesetsk, Russia",62.927545,40.575023,few clouds,39.0
...,...,...,...,...,...,...,...,...
120,120,SJ-7 DEB,05 July 2005 22:40,"Jiuquan Satellite Launch Center, China",40.984523,100.191185,scattered clouds,68.0
121,121,SJ-7 DEB,05 July 2005 22:40,"Jiuquan Satellite Launch Center, China",40.984523,100.191185,scattered clouds,68.0
122,122,SJ-7 DEB,05 July 2005 22:40,"Jiuquan Satellite Launch Center, China",40.984523,100.191185,scattered clouds,68.0
123,123,RS-44,26 December 2019 23:11,Amateur radio,NaN,NaN,NaN,NaN
124,124,RS-44,26 December 2019 23:11,Amateur radio,NaN,NaN,NaN,NaN

In [54]:
launches_output_file = "launches_weather.csv"
launches_combined.to_csv(launches_output_file)
launches_weather_db = launches_combined.rename(columns = {"Satellite Name": "satellite_name",
                                                         "Launch Date": "launch_date",
                                                         "Launch Site": "launch_site"
                                                         })
launches_weather_db

,Unnamed: 0,satellite_name,launch_date,launch_site,lat,lon,weather,temperature
0,0,COSMOS 2491 DEB,25 December 2013 00:31,"Plesetsk, Russia",62.927545,40.575023,few clouds,39.0
1,1,COSMOS 2491 DEB,25 December 2013 00:31,"Plesetsk, Russia",62.927545,40.575023,few clouds,39.0
2,2,COSMOS 2543,25 November 2019 17:52,"Plesetsk, Russia",62.927545,40.575023,few clouds,39.0
3,3,COSMOS 2543 (GLONASS,11 December 2019 08:54,"Plesetsk, Russia",62.927545,40.575023,few clouds,39.0
4,4,FREGAT R/B,11 December 2019 08:54,"Plesetsk, Russia",62.927545,40.575023,few clouds,39.0
...,...,...,...,...,...,...,...,...
120,120,SJ-7 DEB,05 July 2005 22:40,"Jiuquan Satellite Launch Center, China",40.984523,100.191185,scattered clouds,68.0
121,121,SJ-7 DEB,05 July 2005 22:40,"Jiuquan Satellite Launch Center, China",40.984523,100.191185,scattered clouds,68.0
122,122,SJ-7 DEB,05 July 2005 22:40,"Jiuquan Satellite Launch Center, China",40.984523,100.191185,scattered clouds,68.0
123,123,RS-44,26 December 2019 23:11,Amateur radio,NaN,NaN,NaN,NaN
124,124,RS-44,26 December 2019 23:11,Amateur radio,NaN,NaN,NaN,NaN

In [55]:
launches_weather_db = launches_weather_db[["satellite_name",
                                             "launch_date",
                                             "launch_site", 
                                             "lat", "lon", 
                                             "weather", "temperature"]]
launches_weather_db['index'] = range(1, len(launches_weather_db) + 1)
launches_weather_db

,satellite_name,launch_date,launch_site,lat,lon,weather,temperature,index
0,COSMOS 2491 DEB,25 December 2013 00:31,"Plesetsk, Russia",62.927545,40.575023,few clouds,39.0,1
1,COSMOS 2491 DEB,25 December 2013 00:31,"Plesetsk, Russia",62.927545,40.575023,few clouds,39.0,2
2,COSMOS 2543,25 November 2019 17:52,"Plesetsk, Russia",62.927545,40.575023,few clouds,39.0,3
3,COSMOS 2543 (GLONASS,11 December 2019 08:54,"Plesetsk, Russia",62.927545,40.575023,few clouds,39.0,4
4,FREGAT R/B,11 December 2019 08:54,"Plesetsk, Russia",62.927545,40.575023,few clouds,39.0,5
...,...,...,...,...,...,...,...,...
120,SJ-7 DEB,05 July 2005 22:40,"Jiuquan Satellite Launch Center, China",40.984523,100.191185,scattered clouds,68.0,121
121,SJ-7 DEB,05 July 2005 22:40,"Jiuquan Satellite Launch Center, China",40.984523,100.191185,scattered clouds,68.0,122
122,SJ-7 DEB,05 July 2005 22:40,"Jiuquan Satellite Launch Center, China",40.984523,100.191185,scattered clouds,68.0,123
123,RS-44,26 December 2019 23:11,Amateur radio,NaN,NaN,NaN,NaN,124
124,RS-44,26 December 2019 23:11,Amateur radio,NaN,NaN,NaN,NaN,125

In [56]:
connection_string = "postgres:postgres@localhost:5432/launches_weather"
engine = create_engine(f'postgresql://{connection_string}')
engine

Engine(postgresql://postgres:***@localhost:5432/launches_weather)

In [57]:
engine.table_names()

['launches_weather']

In [59]:
launches_weather_db.to_sql(name='launches_weather', con=engine, if_exists='append', index=False)

Empty DataFrame
Columns: []
Index: []